img {
    width: 100%;
    border-radius: 18px;
}

* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    background-image: url("./homePics/img1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.6s ease-in-out;
    transition: background-image 0.6s ease-in-out;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides:first-child {
    display: block;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -36px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    transition: 0.5s ease;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 0 8px 8px 0;
}

.next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Caption text */
.text {
    color: white;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.text h1 {
    margin: 0;
    font-size: calc(14px + 1vw);
}

.text p {
    font-size: calc(8px + 0.7vw);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}