.color-primary-0 { color: #087C3E }	/* Main Primary color */
.color-primary-1 { color: #33A066 }
.color-primary-2 { color: #149650 }
.color-primary-3 { color: #00662F }
.color-primary-4 { color: #004C23 }

.color-complement-0 { color: #AF300B }	/* Main Complement color */
.color-complement-1 { color: #E36B48 }
.color-complement-2 { color: #D4451C }
.color-complement-3 { color: #912100 }
.color-complement-4 { color: #6B1800 }

body {
    margin: 0;
}

header {
    top: 0;
    text-align: center;
    background-color: #00662F;
}

header h1 {
    margin: 0;
    padding: 16px;
    color: #33A066;
    font-size: 6vw;
}

nav {
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #149650;
}

nav li {
    float: left;
    border-right: 2px solid #004C23;
    width: calc(16% - 2px);
}

nav li:first-child {
    width: calc(20% - 2px);
}

nav li a {
    display: block;
    color: #004C23;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: calc(14px + 1vw);
    transition: 0.6s;
}

nav li a:hover {
    background-color: #004C23;
    color: #149650;
}

nav li a.active {
    background-color: #004C23;
    color: #149650;
}

@media screen and (max-width: 1030px) {
    nav ul li {width: 100%}
    nav ul li:first-child,
    nav ul li {width: 100%;}
}

iframe {
    width: 100%;
    border: none;
    height: 100%;
    position: absolute;
}