img {
    width: 100%;
    height: 100%;
    transition: 0.6s;
}

img:hover {
    transform: scale(1.2);
    transition: 0.6s;
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.8), 8px 12px 40px 8px rgba(0, 0, 0, 0.8);
}

body {
    overflow: hidden;
    background-color: #00662F;
}

.pic1 {
    grid-area: pic1;
}

.pic2 {
    grid-area: pic2;
}

.pic3 {
    grid-area: pic3;
}

.pic4 {
    grid-area: pic4;
}

.pic5 {
    grid-area: pic5;
}

.pic6 {
    grid-area: pic6;
}

.pic7 {
    grid-area: pic7;
}

.pic8 {
    grid-area: pic8;
}

.pic9 {
    grid-area: pic9;
}

.grid-container {
    display: grid;
    grid-template-areas:
            'pic1 pic1 pic2 pic2 pic2 pic8 pic8 pic8 pic8'
            'pic1 pic1 pic2 pic2 pic2 pic8 pic8 pic8 pic8'
            'pic3 pic3 pic2 pic2 pic2 pic8 pic8 pic8 pic8'
            'pic3 pic3 pic4 pic5 pic5 pic8 pic8 pic8 pic8'
            'pic6 pic6 pic6 pic5 pic5 pic8 pic8 pic8 pic8'
            'pic6 pic6 pic6 pic5 pic5 pic7 pic7 pic9 pic9'
            'pic6 pic6 pic6 pic5 pic5 pic7 pic7 pic9 pic9';
    width: 98vw;
    height: 96vh;
    padding: 10px;
    grid-gap: 18px 10px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(9, 1fr);
    background-color: #33A066;
}